<% content_for :html_attributes do %>  xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
    xmlns:fb="https://www.facebook.com/2008/fbml"
<% end %>

<% content_for :head_attributes do %>
   prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# spookje: http://ogp.me/ns/fb/spookje#"
<% end %>

<% content_for :head do %>
  <meta property="fb:app_id"      content="<%= FACEBOOK_CONFIG['app_id'] %>" />
  <meta property="og:type"        content="spookje:horse" />
  <meta property="og:url"         content="<%= create_callback_horse_url @horse  %>" />
  <meta property="og:title"       content="<%= @horse.name %>" />
  <meta property="og:description" content="<%= @horse.description %>" />
  <meta property="og:image"       content="<%= !@horse.image.empty? ? @horse.image : "https://s-static.ak.fbcdn.net/images/devsite/attachment_blank.png" %>" />
  <meta property="spookje:name"   content="<%= @horse.name %>" />
  <meta property="spookje:owner"  content="<%= @horse.owner %>" />
  <meta property="spookje:rider"  content="<%= @horse.rider %>" />
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <img src="<%= !@horse.image.empty? ? @horse.image : "https://s-static.ak.fbcdn.net/images/devsite/attachment_blank.png" %>" >
</p>

<p>
  <b>Name:</b>
  <%= @horse.name %>
</p>

<p>
  <b>Description:</b>
  <%= @horse.description %>
</p>

<p>
  <b>Owner:</b>
  <%= @horse.owner %>
</p>

<p>
  <b>Rider:</b>
  <%= @horse.rider %>
</p>



<%= link_to 'Edit', edit_horse_path(@horse) %> |
<%= link_to 'Back', horses_path %>
