<% content_for :head do %>
  <!-- These are Open Graph tags.  They add meta data to your  -->
  <!-- site that facebook uses when your content is shared     -->
  <!-- over facebook.  You should fill these tags in with      -->
  <!-- your data.  To learn more about Open Graph, visit       -->
  <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
  <meta property="og:title" content="<%= FACEBOOK_CONFIG['app_name'] %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="<%= FACEBOOK_CONFIG['url'] %>"/>
  <meta property="og:image" content="<%= image_path("app_logo.gif") %>"/>
  <meta property="og:site_name" content="<%= FACEBOOK_CONFIG['app_name'] %>"/>
  <meta property="og:locale" content="en_us"/>
  <meta property="fb:app_id" content="<%= FACEBOOK_CONFIG['app_id'] %>"/>
  <meta property="fb:admins" content="1185998828"/>
<% end %>

<div id="share-app">
  <p>Share this application:</p>
  <ul>
    <li>
      <a href="#" class="facebook-button" onclick="popup('<%= post_to_wall_url %>', 'Post to Wall', 580, 400);">
        <span class="plus">Post to Wall</span>
      </a>
    </li>
    <li>
      <a href="#" class="facebook-button speech-bubble" onclick="popup('<%= send_to_friends_url %>', 'Send', 580, 400);">
        <span class="speech-bubble">Send to Friends</span>
      </a>
    </li>
  </ul>
</div>

<div class="horses">
  <%= link_to "Your horses", horses_url %>
</div>
<div class="cleanup">
  <%= link_to "Re-authenticate",reauthenticate_url %>
</div>
<div class="you">
  <h3>Information about you:</h3>
  <p>
    <%= @user.name  %>
  </p>
  <img src="https://graph.facebook.com/me/picture?type=normal&access_token=<%= @client.access_token %>"/>
  <p>
    Name: <%= @user.name  %>
  </p>
</div>

<div class="list">
  <h3>Friends that also use this application</h3>
  <ul class="friends">
    <% @friends_using_app.each do |friend| %>
      <li>
        <img src="https://graph.facebook.com/<%= friend["uid"] %>/picture" alt="<%= friend["name"] %>">
        <a href="#" onclick="window.open('http://www.facebook.com/<%= friend["uid"] %>')">
          <%= friend["name"] %>
        </a>
      </li>
    <% end %>
  </ul>
</div>

<div class="list">
  <h3>All friends</h3>
  <ul class="friends">
    <% @friends.each do |friend| %>
      <li>
      <img src="https://graph.facebook.com/<%= friend.id %>/picture" alt="<%= friend.name %>">
      <a href="#" onclick="window.open('http://www.facebook.com/<%= friend.id %>')">
          <%= friend.name %>
        </a>
      </li>
    <% end %>
  </ul>
</div>

