<% content_for :html_attributes do %>
  xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#"
<% end %>
<% content_for :head do %>
  <%= render :partial => 'shared/metatags' %>
<% end %>
<% content_for :body_init do %>
  <%= render :partial => 'shared/fb_js_init' %>
<% end %>

<script>
  $(document).ready(function() {
    //alert("document ready <%= Rails.env %>");
  });
  function facebookInitialized(){
    FB.Event.subscribe('auth.login', function(response) {
      // Reload the entire page. Could also do an Ajax request and dynamically
      // update the already loaded page.
      //This will send the signed_request to the app
      alert("subscribe auth.login");
      window.location.reload(true);
    });

    FB.Event.subscribe('auth.logout', function() {
      // Do something...
    });

    function handleSessionChange(response) {
      alert("subscribe auth.sessionChange");
      if ((Config.userIdOnServer && !response.session) ||
          Config.userIdOnServer != response.session.uid) {
        top.location = 'https://apps.facebook.com/' + Config.canvasName + '/';
      }
    }
    FB.Event.subscribe('auth.sessionChange', handleSessionChange);

    FB.getLoginStatus(function(response) {
      $("#fb_status").html("status: " + response.status);
      if (response.status === 'connected') {
        // the user is logged in and connected to your
        // app, and response.authResponse supplies
        // the user's ID, a valid access token, a signed
        // request, and the time the access token
        // and signed request each expire
        var fb_uid = response.authResponse.userID;
        var fb_accessToken = response.authResponse.accessToken;

        window.location.reload(true);
      } else if (response.status === 'not_authorized') {
        // the user is logged in to Facebook,
        //but not connected to the app

        $("#info").html("You are not yet connected to the app.");

        $("#fb_plugins").html("<fb:facepile></fb:facepile><fb:login-button show-faces='true'></fb:login-button>");
        FB.XFBML.parse(document.getElementById("#fb_plugins"));
      } else {
        // the user isn't even logged in to Facebook.

        $("#info").html("You are not logged in to Facebook. Log in (or sign up if you don't have a Facebook account yet) and we'll be right back!");
      }
    });
  }
</script>

<div id="fb_status"></div>

<div id="info"></div>

<div id="connect" style="display:none">
  <%= link_to "Connect", horses_url %>
</div>

<div id="fb_plugins">
</div>

<div class="round">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>
</div>
<%= debug(params) if Rails.env.development? %>
