<% content_for :html_attributes do %>
  xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#"
<% end %>
<% content_for :head do %>
  <%= render :partial => 'shared/metatags' %>
<% end %>
<% content_for :body_init do %>
  <%= render :partial => 'shared/fb_js_init' %>
<% end %>

<script>
  <% if Rails.env != 'development' %>
    if (top === self){
      alert("replacing" + window.location);
      window.location.replace("<%= FACEBOOK_CONFIG['canvas_url'] %>");
    }
  <% end %>
  $(document).ready(function() {
    //alert("document ready <%= Rails.env %>");
  });
  function facebookInitialized(){
    FB.getLoginStatus(function(response) {
      var fb_status;
      if (response.status === 'connected') {
        // the user is logged in and connected to your
        // app, and response.authResponse supplies
        // the user's ID, a valid access token, a signed
        // request, and the time the access token
        // and signed request each expire
        fb_status = 'connected';
        var fb_uid = response.authResponse.userID;
        var fb_accessToken = response.authResponse.accessToken;

        window.location.replace("<%= horses_path %>");
      } else if (response.status === 'not_authorized') {
        // the user is logged in to Facebook,
        //but not connected to the app
        fb_status = 'logged_on';

        $("#connect").show();

        $("#facepile").html("<fb:facepile></fb:facepile>");
        FB.XFBML.parse(document.getElementById("#facepile"));
      } else {
        // the user isn't even logged in to Facebook.
        fb_status = 'logged_off';

        $("#info").html("You are not yet logged on to Facebook. Please log on to Facebook and we will be right back. If you are not yet connected to the app, Facebook will ask you to give your approval after you have logged on.");
      }
    });
  }
</script>

<div id="info"></div>

<div id="connect" style="display:none">
  <p>You are not yet connected to the app.</p>
  <%= link_to "Connect", horses_url %>
</div>

<div id="facepile">
</div>
