<!DOCTYPE html>
<html <%= yield :html_attributes %>>
<head <%= yield :head_attributes %>>
  <meta charset="utf-8">
  <%= yield :head %>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
    function popup(pageURL, title,w,h) {
      var left = (screen.width/2)-(w/2);
      var top = (screen.height/2)-(h/2);
      var targetWin = window.open(
        pageURL,
        title,
        'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left
        );
    }
  </script>
  <!--[if IE]>
    <script>
      var tags = ['header', 'section'];
      while(tags.length)
        document.createElement(tags.pop());
    </script>
  <![endif]-->
</head>
<body>
<%= image_tag("app_logo.gif", :alt => FACEBOOK_CONFIG['app_name']) %>
<h1><%=	FACEBOOK_CONFIG['app_name'] %></h1>
<%= yield %>

</body>
</html>
